app-color-library {
  .color-selection-options-container {
    padding-top: 2rem;

    .domain-options-container,
    .colors-options-container {
      padding-right: 2rem;
    }
  }
  .custom-color-palette-container {
    padding-top: 2rem;
  }
}
