<div class="section-name">Color</div>
<div class="section-description">Color is the characteristic of things that is produced by conflicting qualities of light being reflected by them. As soon as light shines on an object, some colors bounce off the object and others are absorbed by it.</div>
<div class="tabs-section">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Brand">
      <div class="brand-content">
        <p class="sub-section-heading">Primary Accent Colors</p>
        <div>test11</div>
        <p class="sub-section-heading">Color Philosophy</p>
        <span class="sub-section-content">
            The color most iconically associated with the HCL Brand is the HCL Blue, which communicates the emotions of trust, reliability and dependability customers have come to expect from us. Opaque White is used as the primary background color and helps lends a clean look and feel to the creatives Flat black is used for text-in-focus to ensure legibility across media.
        </span>
        <div class="tab-content-note">
            <span class="sub-section-heading">
            Note:
            </span>
            <span class="tab-title-note-details">
                The relative size of the color spaces in the diagram indicates how frequently these are to be used
            </span>
        </div>
        
        <div class="color-philosophy-section">
            <p class="sub-section-heading">Color Philosophy</p>
            <span class="sub-section-content">
               The Bright and Fresh colors of blue communicates the emotions of trust, reliability and dependability. These palette is ideal for corporates as well as companies working in medical domain.
            </span>
            <div class="tab-content-note">
                <span class="sub-section-heading">
                    Keywords:
                </span>
                <span>
                    Health Care, Medical, Medicine, Care, Growth
                </span>
            </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Color Families">
      <div class="color-families-content">
        <span class="section-title"> &lt;xotb-checkbox&gt; </span>
        <div class="code-section">
            test3
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Accessibility">
      <div class="accessibility-content">
        Coming soon..
      </div>
    </mat-tab>
    <mat-tab label="Library">
        <div class="library-content">
          Coming soon..
        </div>
      </mat-tab>
  </mat-tab-group>
</div>
