app-color {
  .mat-tab-body {
    .mat-tab-body-content {
      .brand-content {
        .primary-accent-colors {
          padding-bottom: 2rem;

          .color-box-section {
            display: flex;

            .blue-box,
            .white-box,
            .black-box {
              display: inline-block;
              color: #ffffff;
              flex: 1;
              height: 104px;
              border: 1px solid #dcdcdc;

              span {
                font-family: "Calibri-bold";
                font-size: 15px;
                padding: 1rem;
                display: inline-block;
                line-height: 1.2rem;
              }
            }

            .blue-box {
              background-color: #006bb6;
              margin-right: 1rem;
            }

            .white-box {
              background-color: #ffffff;
              color: #9e9e9e;
              margin-right: 1rem;
            }

            .black-box {
              background-color: #272727;
            }
          }
        }

        .tab-content-note {
          padding-top: 1rem;
        }

        .color-philosophy-section {
          border: 1px solid #dcdcdc;
          padding: 1rem;
          margin-top: 2rem;

          .philosophy-color-grids {
            padding-top: 2.5rem;

            .grid-heading {
              padding: 0.5rem 0 0.5rem;
              display: inline-block;
              font-family: "Calibri-bold";
              font-size: 18px;
            }

            .color-holder {
              width: 125px;
              height: 57px;
              vertical-align: middle;
              color: #ffffff;
              font-size: 12px;

              span {
                margin: 10px;
              }
            }

            .color-philosophy-left-section {
              padding-right: 3rem;
              float: left;

              .color-philosophy-text-section {
                .color-holder {
                  color: #000000;
                }
              }
            }

            .color-philosophy-right-section {
              float: right;
            }

            .color-philosophy-left-section,
            .color-philosophy-right-section {
              display: inline-block;

              .color-philosophy-primary-section,
              .color-philosophy-text-section,
              .color-philosophy-background-section,
              .color-philosophy-secondary-section {
                display: inline-block;
              }
            }
          }

          .color-philosophy-system-list {
            padding-top: 2rem;
            clear: both;

            span {
              padding-right: 1rem;
            }

            .system-color {
              display: inline-block;
              width: 53px;
              height: 32px;
              vertical-align: middle;
              margin-right: 10px;
            }
          }

          .color-philosophy-button-section {
            padding-top: 1.5rem;
          }
        }
      }

      .color-families-content {
        img {
          width: 80%;
        }
      }

      .accessibility-content {
        span {
          color: #2e2e2e;
          padding-right: 1rem;
        }

        img {
          width: 80%;
          padding-bottom: 2rem;
        }

        .text-details {
          border: 1px solid #009fff;
          display: inline-block;
          padding: 5px 20px;
          color: #009fff;
        }

        .bg-color-container {
          display: block;

          .bg-color-code {
            padding: 0.3rem 6.4rem;
          }
        }

        .sub-section-content {
          padding-bottom: 1rem;
        }

        .text-bgcolor-section {
          width: 40%;

          .text-color-section,
          .bg-color-section {
            padding: 10px 10px 10px 0;
            overflow: hidden;
            display: table;
            width: 85%;

            span {
              display: table-cell;
              vertical-align: middle;
            }

            .color-code {
              float: right;
              min-width: 158px;
            }

            .color-code-value {
              padding-right: 2rem;
              display: table-cell;
              vertical-align: middle;
            }
          }

          .text-font-details-section {
            padding: 10px;
          }

          .input-icon {
            position: relative;
            display: inline-block;
            color: #000000;
          }

          .input-icon > i {
            position: absolute;
            display: block;
            transform: translate(0, -50%);
            top: 50%;
            pointer-events: none;
            width: 25px;
            text-align: center;
            font-style: normal;
          }

          .input-icon > input {
            font-family: "Calibri";
            font-size: 18px;
            border: 1px solid #707070;
            color: #009fff;
          }

          display: inline-block;

          .color-code,
          .font-size {
            vertical-align: middle;
            border: 1px solid #707070;
            border-radius: 5px;
            padding: 6px;
            display: table;

            input::-webkit-color-swatch {
              border: none;
              border-color: transparent;
            }
            input[type="color"] {
              -webkit-appearance: none;
              border: none;
            }
            input[type="color"]::-webkit-color-swatch-wrapper {
              padding: 0;
            }
            input[type="color"]::-webkit-color-swatch {
              border: none;
            }
            input {
              width: 2rem;
              height: 2rem;
              border-radius: 3px;
              float: right;
            }
          }
        }

        .empty-box-section {
          width: 30%;
          height: 100%;
          border: 1px solid #a8a8a8;
          padding: 30px;
          float: right;
          clear: both;
          text-align: center;
          .sample-heading-text {
            font-size: 22px;
            padding-bottom: 15px;
          }
          .sample-content-text {
            font-size: 14px;
          }
        }

        .result-text-section {
          width: 40%;

          .color-section {
            margin-top: 10px;
          }

          span {
            font-size: 24px;
            padding-bottom: 10px;
          }

          .primary-color-code,
          .secondary-color-code {
            vertical-align: middle;
            border: 1px solid #707070;
            border-radius: 5px;
            padding: 6px;
            display: inline-block;

            .color-code-value {
              padding-right: 2rem;
              overflow: hidden;
            }

            .small-text-comliant-result,
            .large-text-comliant-result {
              width: 2rem;
              height: 2rem;
              border-radius: 3px;
              float: right;
              border: 1px solid #707070;
            }

            input {
              width: 2rem;
              height: 2rem;
              border-radius: 3px;
            }
          }

          .secondary-color-code {
            float: right;
          }

          .result-container {
            margin-top: 2rem;

            span {
              font-weight: 500;
              font-size: 20px;
            }

            div {
              white-space: pre;
            }
          }
        }
      }
    }
  }
}
