<div class="section-name">Iconography</div>
<div class="section-description">
  It is a science of identification, description, classification, and
  interpretation of symbols, themes, and subject matter in the visual arts. The
  term can also refer to the artist’s use of this imagery in a particular work.
</div>
<div class="tabs-section">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Library">
      <div class="library-content">
        <div class="sub-section-content">
          Icons are visual symbols used to represent ideas, objects or actions.
          They communicate messages at a glance, afford interactivity, and draw
          attention to important information.
        </div>
        <div class="sub-section-content">
          Xotb offers several options here! Often designers & developers use the
          same two icon styles for all their work, outline and glyph, but there
          are many more patterns that are available here for you.
        </div>
        <div>
          <div class="download-icon-link">
            <span>Icons</span>
            <a href="">Download Icon Set</a>
          </div>
          <img src="../../../../../assets/icon_set.png" />
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Specifications">
      <div class="specifications-content">
        <div class="sub-section-content">
          Icons are a way of communication and, due to their simplified
          graphical form, they may even be the only language around that
          everybody understands. Since they are shapes, uniformed shapes are
          visually more appealing and easier to digest. They help users focus on
          the artwork. They fix alignment issues caused by random open space to
          better present surrounding information. Lets look at the
          specifications.
        </div>
        <div class="defination-section">
          <span class="sub-heading">Expression : </span>
          <span class="sub-content"
            >Icons play a role in how we think and what we want.</span
          >
        </div>
        <div class="defination-section">
          <span class="sub-heading">Grid : </span>
          <span class="sub-content">
            It contains a basic guides to create an underlying form.
          </span>
        </div>
        <div class="defination-section">
          <span class="sub-heading">Shape : </span>
          <span class="sub-content">
            Circle, square, and triangle — create a visually stable foundation
            for icon designs.
          </span>
        </div>
        <div class="defination-section">
          <span class="sub-heading">Size : </span>
          <span class="sub-content">
            Matters a lot! make sure you offer desirable size to make a clean
            design.
          </span>
        </div>
        <div class="defination-section">
          <span class="sub-heading">Color : </span>
          <span class="sub-content">
            Select the right color keeping in mind the theme of your icons and
            the whole design
          </span>
        </div>
        <div class="defination-section">
          <span class="sub-heading">Use : </span>
          <span class="sub-content">
            To represent ideas, objects, or actions.</span
          >
        </div>
        <div class="defination-section">
          <span class="sub-heading">Not Use : </span>
          <span class="sub-content">
            See, many a times in the battle of clarity between icons and labels,
            labels win. Labels almost always win. “When in doubt, always
            remember this: the best icon is a text label.” User’s understanding
            of an icon is based on experience. Text labels are perhaps necessary
            to communicate the meaning and reduce ambiguity.
          </span>
        </div>
        <div class="defination-section">
          <span class="sub-heading">Tooltip : </span>
          <span class="sub-content">
            Tooltips can be attached to any active element (icons, text links,
            buttons, etc.) on a page. Tooltips are best when they provide
            additional explanation for a form field unfamiliar to some users or
            reasoning for what may seem like an unusual request.
          </span>
        </div>
        <div class="defination-section">
          <span class="sub-heading">Accessibility : </span>
          <span class="sub-content">
            While the seemingly popular aria-label is a perfectly valid way to
            add an accessible name to a button, it is certainly not the only
            way, let alone the best. You could always just put text in it, for
            example.
          </span>
        </div>
        <img src="../../../../../assets/acc_img.png" />
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
