<mat-toolbar color="dark">
  <mat-toolbar-row>
    <span class="app-logo"></span>
    <div class="s-button-row">
      <button mat-button>Design</button>
      <button mat-button>Components</button>
      <button mat-button>Content</button>
    </div>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="footer">
  <div class="copy-right-text">
    ©2020 HCL Technologies. Inc. All Rights Reserved.
  </div>
  <div class="copy-right-logo">
    HCL
  </div>
</div>
