app-root {
  .display-inline-block {
    display: inline-block;
  }
  
  .calibri-bold {
    font-family: "Calibri-bold";
  }

  mat-toolbar {
    height: 100px;
    background: #363537;

    .mat-toolbar-row {
      height: 100px;
      background: #363537;
      padding: 0 20px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .example-button-row {
      display: table-cell;
    }

    .mat-button {
      padding: 0 42px;
      line-height: 100px;
      border-radius: 0;
      font-size: 24px;
      color: #FFFFFF;
      font-family: "Calibri";
      letter-spacing: 0.72px;
      text-transform: capitalize;

      &.active {
        color: #009FFF;
        font-family: "Calibri-bold";
      }

      &.logo-button {
        padding: 0;
      }
    }

    .search-icon,
    .user-icon {
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      margin: 0 1rem;
      cursor: pointer;
      line-height: 100px;
    }

    .search-icon {
      background: url("../assets/search_icon.svg");
      margin-left: 4rem;
    }

    .user-icon {
      background: url("../assets/user_icon.svg");
      width: 26px;
    }

    .account-icon {
      color: #747474;
    }

    .search-field {
      margin-right: 1rem;

      input {
        border: none;
        padding: 4px 8px;
        height: 1.5rem;
        text-align: left;
        font-size: 16px;
        letter-spacing: 0.16px;
        text-transform: capitalize;
        font-family: "Gotham-Medium";
      }

      .mat-icon {
        font-size: 20px;
        position: relative;
        top: 5px;
        right: 20px;
      }
    }


  }

  .footer {
    display: flex;
    justify-content: space-between;
    height: 25px;
    background: #363537 0% 0% no-repeat padding-box;
    line-height: 25px;
    padding: 0 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    .copy-right-text {
      font-size: 13px;
      color: #a9a9a9;
      font-family: "Calibri";
    }
  }
}
