<mat-toolbar>
  <mat-toolbar-row>
    <button class="logo-button" mat-button [ngClass]="{'active': location.path() === '/dashboard' }"
      (click)="naviagteToDashboard()">
      <img class="app-logo" src="../assets/logo.png" />
    </button>
    <span class="spacer"></span>
    <div class="s-button-row">
      <button mat-button [ngClass]="{'active': location.path() === '/design/Color'}"
        (click)="naviagteToDesign()">Design</button>
      <button mat-button [ngClass]="{'active': location.path() === '/components/checkBox'}"
        (click)="naviagteToComponents()">Components</button>
      <button mat-button [ngClass]="{'active': location.path() === '/content'}"
        (click)="naviagteToContent()">Content</button>
    </div>
    <div class="search-icon" aria-hidden="false" aria-label="search icon"></div>
    <div class="user-icon" aria-hidden="false" aria-label="user icon"></div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <div class="footer">
  <div class="copy-right-text">
    ©2020 HCL Technologies. Inc. All Rights Reserved.
  </div>
</div> -->
