app-root {
  mat-toolbar {
    height: 100px;
    background: #FFFFFF;

    .mat-toolbar-row {
      height: 100px;
      background: #FFFFFF;
    }

    .app-logo {
      content: url("../assets/logo.png");
      width: 66px;
      height: 41px;
    }


    .spacer {
      flex: 1 1 auto;
    }

    .example-button-row {
      display: table-cell;
    }

    .mat-button {
      padding: 0 2rem;
      line-height: 100px;
      border-radius: 0;
      font-size: 16px;
      font-family: "Gotham-Medium";
      color: #747474;
      border-top: 4px solid #FFFFFF;

      &.active {
        border-top: 4px solid #0578C3;
      }
    }

    .account-icon {
      color: #747474;
    }

    .search-field {
      margin-right: 1rem;

      input {
        border: none;
        padding: 4px 8px;
        height: 1.5rem;
        text-align: left;
        font-size: 16px;
        letter-spacing: 0.16px;
        text-transform: capitalize;
        font-family: "Gotham-Medium";
      }

      .mat-icon {
        font-size: 20px;
        position: relative;
        top: 5px;
        right: 20px;
      }
    }


  }

  .footer {
    display: flex;
    justify-content: space-between;
    height: 25px;
    background: #575757 0% 0% no-repeat padding-box;
    line-height: 25px;
    padding: 0 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .copy-right-text {
      font-size: 13px;
      color: #FFFFFF;
    }

    .copy-right-logo {
      color: #FFFFFF;
      font-style: oblique;
      font-family: "Gotham-Book";
    }
  }
}
