<div class="login-container">
  <xotb-panel title="Login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <xotb-input
        label="Username"
        [error]="
          form.username.touched && form.username.errors
            ? 'Username is required'
            : null
        "
      >
        <input
          xotb
          class="form-control"
          type="input"
          formControlName="username"
          [required]="true"
        />
      </xotb-input>
      <xotb-input
        label="Password"
        [error]="
          form.password.touched && form.password.errors
            ? 'Password is required'
            : null
        "
      >
        <input
          xotb
          class="form-control"
          formControlName="password"
          type="password"
          [required]="true"
        />
      </xotb-input>
      <br />
      <button
        xotbButton
        variant="brand"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
      <button xotbButton variant="outline-brand">Signup</button>
    </form>
  </xotb-panel>
</div>
