<div class="left-nav-section">
  <p class="panel-title">Select Theme</p>
  <mat-radio-group color="primary" aria-label="Select an option">
    <mat-radio-button value="1">Material</mat-radio-button>
    <mat-radio-button value="2">Flat</mat-radio-button>
  </mat-radio-group>
  <div class="custom-checkbox">
    <mat-checkbox color="primary">Custom Theme</mat-checkbox>
  </div>
  <p class="panel-title">Categories</p>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Controls
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="control-components">
      <mat-selection-list #controls [multiple]="false">
        <mat-list-option>
          AutoComplete
        </mat-list-option>
        <mat-list-option>
          Button
        </mat-list-option>
        <mat-list-option selected>
          Checkbox
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let category of categories">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{category}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the Containers {{category}} of the panel.</p>
  </mat-expansion-panel>
</div>
<!-- End of the Left section Panel -->

<!-- Start of the Right section Panel -->
<div class="right-body-section">
  <p class="component-name">Check box</p>
  <div class="component-description">Check Boxes allow the user to select one or more items from a given set.</div>

  <div class="tabs-section">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Examples">
        <div class="example-content">
          <p>Usages</p>
          <mat-divider></mat-divider>
          <span class="section-title">
            module.ts
          </span>
          <div class="code-section">
            module
          </div>

          <span class="section-title">
            component.html
          </span>
          <div class="code-section">
            component
          </div>

          <span class="section-title">
            component.ts
          </span>
          <div class="code-section">
            component
          </div>
        </div>
      </mat-tab>
      <mat-tab label="API">
        <div class="api-content">
          <span class="title"> &lt;xotb-checkbox&gt; </span>
          <mat-grid-list cols="4" rowHeight="30px" guttersize="0">
            <mat-grid-tile *ngFor="let item of apiData">{{item}}</mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-tab>
      <mat-tab label="Accessibility">
        <div class="accessibility-content">
          Coming soon
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
