app-components {
  display: flex;

  .left-nav-section {
    width: 270px;
    padding: 1.5rem 2rem;
    -webkit-box-shadow: inset -5px 0px 5px -2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: inset -5px 0px 5px -2px rgba(0, 0, 0, 0.21);
    box-shadow: inset -5px 0px 5px -2px rgba(0, 0, 0, 0.21);

    .mat-radio-button {
      font-size: 18px;
      font-family: "Calibri";
      letter-spacing: 0.54px;
      color: #2E2E2E;
      text-transform: capitalize;
      opacity: 1;

      ~.mat-radio-button {
        margin-left: 16px;
      }
    }

    .custom-checkbox {
      margin: 1rem 0;

      .mat-checkbox-label {
        text-align: left;
        font-size: 18px;
        font-family: "Calibri";
        color: #2E2E2E;
        opacity: 1;
      }
    }

    .components-panel {
      margin-top: 1rem;

      .mat-expansion-panel {
        box-shadow: none;

        .mat-expansion-panel-header {
          padding: 0 8px 0 0;
          text-align: left;
          font-size: 18px;
          font-family: "Calibri";
          letter-spacing: 0.54px;
          color: #2E2E2E;
          text-transform: capitalize;
          font-weight: bold;

          .mat-expansion-panel-header-title {
            color: #747474;
          }
        }

        .mat-expansion-panel-body {
          padding: 0;

          .list-label {
            font-size: 14px;
            font-family: "Gotham-Medium";
            color: #747474;
          }

          .mat-list-option {
            &.selected span {
              color: #009FFF
            }
          }
        }
      }
    }

  }

  .right-body-section {
    width: 100%;
    background: #FAFAFA;
    padding: 2rem;
    text-align: left;

    .component-name {
      font-size: 55px;
      font-family: "Calibri";
      letter-spacing: 1.1px;
      color: #2E2E2E;
    }

    .component-description {
      text-align: left;
      font-size: 20px;
      font-family: "Calibri";
      letter-spacing: 0.6px;
      color: #2E2E2E;
      margin-top: 23px;
    }

    .tabs-section {
      margin-top: 1rem;

      .mat-tab-label {
        text-align: left;
        font-size: 20px;
        font-family: "Calibri";
        letter-spacing: 0.6px;
        color: #2E2E2E;
        opacity: 1;
        text-transform: capitalize;
      }

      .mat-ink-bar {
        width: 0 !important;
      }

      .mat-list-item-content {
        font-size: 14px !important;
        font-family: "Calibri";
      }
    }

    .api-content {
      padding: 1rem;

      .title {
        font-size: 14px;
        font-family: "Gotham-Medium";
        letter-spacing: 0.14px;
        color: #747474;
      }

      mat-grid-list {
        width: 50%;
        margin: 2rem;

        mat-grid-tile {
          border: 1px solid #747474;
        }

        .mat-grid-tile .mat-figure {
          justify-content: start;
          padding: 0 0.5rem;
          white-space: pre;
          color: #747474;
        }
      }
    }

    .example-content {
      padding: 1rem;

      p {
        text-align: left;
        font-size: 22px;
        font-family: "Calibri";
        letter-spacing: 0.6px;
        color: #2E2E2E;
        opacity: 1;
      }

      .example-iframe-content {
        margin-bottom: 1rem;
      }


    }

    .section-title {
      font-size: 16px;
      font-family: "Gotham-Light";
      color: #707070;
      margin: 1rem 0;
      display: inline-block;
    }

    .code-section {
      border: 1px solid rgba(0, 0, 0, 0.12);
      min-height: 100px;
      min-width: 60%;
      background: #FFFFFF;
    }
  }
}
