app-components {
  display: flex;

  .right-body-section {
    width: 100%;
    padding: 3.5rem;
    text-align: left;

    .component-name {
      font-size: 55px;
      font-family: "Calibri";
      letter-spacing: 1.1px;
      color: #2E2E2E;
      line-height: 23px;
    }

    .component-description {
      text-align: left;
      font-size: 20px;
      font-family: "Calibri";
      letter-spacing: 0.6px;
      color: #2E2E2E;
      margin-top: 3rem;
    }

    .tabs-section {
      margin-top: 3rem;

      .mat-tab-label {
        text-align: left;
        font-size: 20px;
        font-family: "Calibri";
        letter-spacing: 0.6px;
        color: #2E2E2E;
        opacity: 1;
        text-transform: capitalize;
      }

      .mat-tab-label-active {
        background-color: #F8F8F8;
      }

      .mat-ink-bar {
        width: 0 !important;
      }

      .mat-list-item-content {
        font-size: 14px !important;
        font-family: "Calibri";
      }
    }

    .api-content {
      padding: 1rem;

      .title {
        font-size: 14px;
        font-family: "Gotham-Medium";
        letter-spacing: 0.14px;
        color: #747474;
      }
    }

    .example-content {
      padding: 3rem 1rem;

      p {
        text-align: left;
        font-size: 22px;
        font-family: "Calibri";
        letter-spacing: 0.6px;
        color: #2E2E2E;
        opacity: 1;
        padding-top: 0.5rem;
      }

      .example-iframe-content {
        margin-bottom: 1rem;
      }


    }

    .section-title {
      font-size: 20px;
      font-family: "Calibri";
      color: #707070;
      margin: 1rem 0;
      display: inline-block;
    }

    .code-section {
      .mat-table {
        .mat-header-cell {
          font-size: 14px;
          font-family: "Calibri";
          color: #2E2E2E;
          font-weight: bold;
        }

        .mat-header-row,
        .mat-row {
          height: 40px;
        }

        code {
          background: #eeeeee;
        }

        td,
        .mat-header-cell {
          border: 0.5px solid rgba(0, 0, 0, 0.12);
          padding: 0 1rem;
        }

        tbody tr:nth-child(even) {
          background-color: #f2f2f2;
        }
      }

    }

    .accessibility-content {
      text-align: center;
      margin: 10% auto;
    }
  }
}
