<div class="left-nav-section">
  <mat-radio-group color="primary" aria-label="Select an option">
    <mat-radio-button value="1" checked>Material</mat-radio-button>
    <mat-radio-button value="2">Flat</mat-radio-button>
  </mat-radio-group>
  <div class="custom-checkbox">
    <mat-checkbox color="primary">Customise Theme</mat-checkbox>
  </div>
  <div class="components-panel">
    <mat-expansion-panel *ngFor="let container of componentsList" [expanded]="container.isExpanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{container.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="control-components">
        <mat-selection-list #controls [multiple]="false">
          <mat-list-option *ngFor="let item of container.components"
            [ngClass]="{'selected' : router.url === '/components/' + item.value}"
            (click)="navigateToComponent(item.value)">
            <span class="list-label">{{item.name}}</span>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-expansion-panel>
  </div>
</div>
<!-- End of the Left section Panel -->
<!-- Start of the Right section Panel -->
<div class="right-body-section">
  <router-outlet></router-outlet>
</div>
