<!-- <mat-form-field appearance="fill">
  <mat-select>
    <mat-option *ngFor="let item of options" [value]="item.value">
      {{ item.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field> -->
<div class="wrap">
  <!--Select with pure css-->
  <div class="select">
    <select class="select-text" required>
      <option *ngFor="let item of options" [value]="item.value">{{
        item.viewValue
      }}</option>
    </select>
    <span class="select-highlight"></span>
    <span class="select-bar"></span>
  </div>
  <!--Select with pure css-->
</div>
