<div class="component-name">Check box</div>
<div class="component-description">
  Check Boxes allow the user to select one or more items from a given set.
</div>
<div class="tabs-section">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Canvas">
      <div class="example-content">
        <p>Examples</p>
        <div class="example-iframe-content">
          <iframe
            src="https://codesandbox.io/embed/angular-ng-xotb-checkbox-xgif4?autoresize=1&fontsize=14&hidenavigation=1&module=%2Fsrc%2Fapp%2Fapp.component.html&theme=light&view=preview&hidedevtools=1"
            style="
              width: 100%;
              height: 500px;
              border: 0;
              border-radius: 4px;
              overflow: hidden;
            "
            title="angular-ng-xotb-checkbox"
            allow="accelerometer; ambient-light-sensor; camera; encrypted-media; geolocation; gyroscope; hid; microphone; midi; payment; usb; vr; xr-spatial-tracking"
            sandbox="allow-autoplay allow-forms allow-modals allow-popups allow-presentation allow-same-origin allow-scripts"
          ></iframe>
        </div>
        <p>Usages</p>
        <mat-divider></mat-divider>
        <span class="section-title">
          module.ts
        </span>
        <div class="code-section">
          <pre><code [highlight]="moduleCode"></code></pre>
        </div>
        <span class="section-title">
          component.html
        </span>
        <div class="code-section">
          <pre><code [highlight]="templateCode"></code></pre>
        </div>
        <span class="section-title">
          component.ts
        </span>
        <div class="code-section">
          <pre><code [highlight]="componentCode"></code></pre>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="API">
      <div class="api-content">
        <span class="section-title"> &lt;xotb-checkbox&gt; </span>
        <div class="code-section">
          <table mat-table [dataSource]="apiSource">
            <ng-container matColumnDef="Property">
              <th mat-header-cell *matHeaderCellDef>Property</th>
              <td mat-cell *matCellDef="let element">{{ element.property }}</td>
            </ng-container>
            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>
            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let element">
                <code [highlight]="element.type"></code>
              </td>
            </ng-container>
            <ng-container matColumnDef="Default">
              <th mat-header-cell *matHeaderCellDef>Default</th>
              <td mat-cell *matCellDef="let element">{{ element.default }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="apiTableColums"></tr>
            <tr mat-row *matRowDef="let row; columns: apiTableColums"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Accessibility">
      <div class="accessibility-content">
        Coming soon..
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
