<div class="section-name">Design Kit</div>
<div class="section-description">
  It is a science of identification, description, classification, and
  interpretation of symbols, themes, and subject matter in the visual arts. The
  term can also refer to the artist’s use of this imagery in a particular work.
</div>
<div class="tabs-section">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Adobe XD">
      <div class="adobexd-content">
        <div class="sub-section-content">
          Icons are visual symbols used to represent ideas, objects or actions.
          They communicate messages at a glance, afford interactivity, and draw
          attention to important information.
        </div>
        <div class="sub-section-content">
          Xotb offers several options here! Often designers & developers use the
          same two icon styles for all their work, outline and glyph, but there
          are many more patterns that are available here for you.
        </div>
        <div>
          <img src="../../../../../assets/adobexd_img.png" />
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Figma">
      <div class="figma-content">
        
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
