app-dashboard {
  display: flex;

  .left-nav-section {
    .side-nav-buttons {
      .mat-button {
        width: 100%;
        text-align: left;
        border-radius: 0;
        font-size: 18px;
        color: #747474;
        display: block;
        font-family: "Calibri";
        padding: 0.5rem;
        border-bottom: 1px solid #F5F5F5;

        &.selected {
          font-weight: bold;
          color: #000000;
        }
      }
    }
  }

  .right-body-section {
    width: 100%;

    .padding-top {
      padding-top: 1rem;
    }

    .with-video {
      background: #FFFFFF;
      padding: 0 8%;

      .mat-grid-tile {
        background: #FFFFFF;
      }
    }

    .concept-row {
      background: #FFFFFF;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      padding: 4% 20% 0 20%;

      .arrow-icon {
        content: url('../../../assets/arrow-tail1.png');
      }

      .concept-text {
        font-size: 24px;
        text-align: center;
        font-family: "Calibri";
        letter-spacing: 0px;
        color: #707070;
        font-style: italic;
      }
    }

    .concept-desc {
      background: #FFFFFF;
      text-align: center;
      font-weight: bold;
      padding: 2rem 0;

      p {
        font-size: 18px;
        color: #2D2D2D;
        font-family: "Calibri";
      }

      h3 {
        font-size: 26px;
        color: #0078D7;
        font-family: "Calibri";
        font-weight: bold;

        span {
          content: url(../../../assets/xotb.png);
          position: relative;
          top: 6px;
        }
      }
    }

    .get-started-buttons {
      text-align: center;
      padding-bottom: 5%;

      .watch {
        color: #363537;
        width: 142px;
        height: 45px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #363537;
        font-weight: bold;
        border-radius: 0;
        margin: 0 5px;
        font-size: 16px;
        font-family: "Calibri";
      }

      .started {
        width: 143px;
        height: 45px;
        background: #363537 0% 0% no-repeat padding-box;
        opacity: 1;
        color: #FFFFFF;
        font-weight: bold;
        border-radius: 0;
        margin: 0 5px;
        font-size: 16px;
        font-family: "Calibri";
      }
    }

    .xotb-help-section {
      align-items: center;
      padding-top: 2rem;
      background: #FAFAFA;

      .help-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2% 10%;
      }

      .help-icon {
        &.robust {
          content: url("../../../assets/robust.svg");
        }

        &.efficient {
          content: url("../../../assets/efficient.svg");
        }

        &.accessible {
          content: url("../../../assets/accessible.svg");
        }

        &.adaptive {
          content: url("../../../assets/adaptive.svg");
          width: 3rem;
        }
      }



      .item {
        width: 46%;
        padding: 1rem 0;

        h4 {
          font-size: 20px;
          font-family: "Calibri";
          font-weight: bold;

          &.pink {
            color: #EB1946;
          }

          &.orange {
            color: #F5821E;
          }

          &.blue {
            color: #00AFBE;
          }

          &.green {
            color: #ADD136;
          }
        }

        span {
          font-size: 20px;
          color: #707070;
          ;
          font-family: "Calibri";
        }
      }

      p {
        text-align: center;
        font-size: 26px;
        letter-spacing: 0px;
        color: #707070;
      }
    }

    .features-benifits {
      background: #FFFFFF;
      text-align: center;
      padding: 2% 8%;

      p {
        font-size: 26px;
        color: #707070;
        margin: 2rem 0;
      }

      .features-grid {
        display: flex;
        flex-direction: column;
        margin: 3rem auto;
        width: 80%;


        .item {
          display: flex;
          flex-direction: row;
          padding: 3rem 0;
          align-items: center;

          img {
            width: 7rem;
            height: 7rem;
          }

          .feature-content {
            max-width: 60%;
            text-align: left;
            margin-left: 10%;

            h4 {
              font-size: 24px;
              font-weight: bold;
              font-family: "Calibri";
              color: #0578C3;
            }

            div {
              font-size: 20px;
              color: #747474;
              font-family: "Calibri";
            }
          }


        }
      }
    }

    .user-reviews {
      text-align: center;
      background: #FAFAFA;
      padding: 4% 0;

      p {
        font-size: 26px;
        color: #707070;
        margin-bottom: 37px;
        font-family: "Gotham-Light";
      }

      .reviews-grid {
        display: flex;
        align-items: center;
        justify-content: space-evenly;


        .item {
          padding: 1rem;
          width: 23%;
          min-height: 224px;
          border: 1px solid #E9E9E9;
          border-radius: 8px;
          opacity: 1;

          .quotes {
            content: url("../../../assets/quotes.svg");
          }

          .reviewer {
            content: url('../../../assets/reviewer.png');
          }

          .review {
            color: #707070;
            font-size: 16px;
            text-align: left;
            margin: 1rem 0;
            font-family: "Calibri";
            min-height: 8rem;
          }

          .name,
          .designation {
            color: #707070;
            font-size: 16px;
            text-align: left;
            font-family: "Calibri";
          }
        }
      }

    }

    .dash-footer {
      height: 96px;
      background: #363537 0% 0% no-repeat padding-box;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .menu-item {
        font-size: 18px;
        text-align: left;
        font-family: "Calibri";
        color: #FFFFFF;
        cursor: pointer;
      }
    }
  }
}
