<div class="main-section">
  <div class="sub-main-section">
    <div class="sub-section-top">
      <div
        class="sub-section-heading-left display-inline-block vertical-align-middle calibri-bold blue-color font-large"
      >
        Confident
      </div>
      <div class="thick-line"></div>
      <div class="display-inline-block parent"><div class="child"></div></div>
      <div
        class="sub-section-heading-right display-inline-block vertical-align-middle calibri-bold blue-color font-large"
      >
        Boastful
      </div>
    </div>
    <div class="sub-section">
      <div class="display-inline-block tone-sub-section-left">
        <div class="sub-heading-section">
          <span>Promising</span>
          <span>Assuring</span>
          <span>Optimistic</span>
          <span>Clear</span>
          <span>Persuasive</span>
        </div>
      </div>
      <div class="display-inline-block tone-sub-section-right">
        <div class="sub-heading-section">
          <span>Nonchalant</span>
          <span>Arrogant</span>
          <span>Boastful</span>
          <span>Presumptuous</span>
          <span>Conceited</span>
        </div>
      </div>
    </div>
  </div>
  <!-- section 2-->
  <div class="sub-main-section">
    <div class="sub-section-top">
      <div
        class=" sub-section-heading-left display-inline-block vertical-align-middle calibri-bold blue-color font-large"
      >
        Respectful
      </div>
      <div class="thick-line"></div>
      <div class="display-inline-block parent"><div class="child"></div></div>
      <div
        class="sub-section-heading-right display-inline-block vertical-align-middle calibri-bold blue-color font-large"
      >
        Condescending
      </div>
    </div>
    <div class="sub-section">
      <div class="display-inline-block tone-sub-section-left">
        <div class="sub-heading-section">
          <span>Courteous</span>
          <span>Kind</span>
          <span>Polite</span>
          <span>Helpful</span>
        </div>
      </div>
      <div class="display-inline-block tone-sub-section-right">
        <div class="sub-heading-section">
          <span>Disrespectful</span>
          <span>Unoriginal</span>
          <span>Flippant</span>
          <span>Discriminating</span>
        </div>
      </div>
    </div>
  </div>
  <!-- section 3-->
  <div class="sub-main-section">
    <div class="sub-section-top">
      <div
        class="sub-section-heading-left display-inline-block vertical-align-middle calibri-bold blue-color font-large"
      >
        Friendly
      </div>
      <div class="thick-line"></div>
      <div class="display-inline-block parent"><div class="child"></div></div>
      <div
        class="sub-section-heading-right display-inline-block vertical-align-middle calibri-bold blue-color font-large"
      >
        Casula
      </div>
    </div>
    <div class="sub-section">
      <div class="display-inline-block tone-sub-section-left">
        <div class="sub-heading-section">
          <span>Warm</span>
          <span>Reassuring</span>
          <span>Empathetic</span>
          <span>Original</span>
        </div>
      </div>
      <div class="display-inline-block tone-sub-section-right">
        <div class="sub-heading-section">
          <span>Robotic</span>
          <span>Monotenous</span>
          <span>Casual</span>
          <span>Sarcastic</span>
        </div>
      </div>
    </div>
  </div>
</div>
